@page "/NativeCode"

<PageTitle>NativeCode</PageTitle>

<h1>NativeCode</h1>

<p>
    @@fact(3) result: @fact(3)
</p>

<p>
    <input value="@n1" @onchange="@OnN1Change" /> + <input value="@n2" @onchange="@OnN2Change" /> = <label>@result</label>
</p>